nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding:15px
    
}
.nav_img{
    height: 40px;
    width: 60px;
    border-radius: 40%;
}
.nav_item ul{
    display: flex;
}
.nav_item ul li,a{
    list-style: none;
    text-decoration: none;
    margin-right: 10px;
    color: black;
    text-transform: uppercase;
}

.contact-us {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact-info {
    margin-bottom: 20px;
  }
  
  .contact-form {
    margin-bottom: 20px;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  .contact-form button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .social-media {
    margin-bottom: 20px;
  }
  
  .social-media ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .social-media li {
    margin-bottom: 10px;
  }
  
  .social-media a {
    color: #337ab7;
    text-decoration: none;
  }
  
  .map {
    margin-bottom: 20px;
  }
  