*{
  
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  flex-wrap: wrap;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding:15px
  
}
.nav_img{
  height: 40px;
  width: 60px;
  border-radius: 40%;
}
.nav_item ul{
  display: flex;
}
.nav_item ul li,a{
  list-style: none;
  text-decoration: none;
  margin-right: 10px;
  color: black;
  text-transform: uppercase;
}
.hero-nav{
  height: 300px;
  width: 100%;
  background-image: url(../Assets/cake.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0 0 0 2000px rgba(31, 32, 0, 0.489);
}
.hero-content{
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  
}

.hero-content h1{
  font-size: 4rem;
}
.menu-details {
    margin-right: 6rem;
    margin-left: 6rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    
}
.menu-details-a {
  margin-bottom: 1rem;
  width: 50%;
}
.menu-details-a h1{
  font-size: 3rem;
  padding-top:1rem;
}

.menu-details-section{
   margin-top:2rem ;
}
.menu-details-section div{
display: flex ;
align-items: center;
}
.menu-details-section h3 ,h5{
font-size: 1.5rem;
font-weight: lighter;
}
.menu-details-section p{
font-size: 1rem;
font-weight: lighter;
margin-top: 10px;
}
.menu-bg-img{
  height: 300px;
  width: 100%;
  background-image: url(../Assets/pink-wine.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0 0 0 2000px rgba(31, 32, 0, 0.489);
}

.menu-bg-img h1 {
  position: relative; 
  top: 80%; 
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2.5rem;
  text-align: center;
}

.menu-card-bg{
    margin-right: 6rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.menu-card-container{
    margin-right: 6rem;
    margin-left: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
}
.menu-card{
  display: flex;
  align-items: center;
  width: 50%;
} 
.menu-card-img{
  margin-top: 2rem;
  height: 150px;
  width: 200px;
  border-radius: 10px;
   transition: all 0.5s;

}
.menu-card-img:hover{
  scale: 110% ;
}
.menu-card-desc{
  margin-left: 1rem;

}
.menu-card-desc h4{
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 10px;
}
.menu-card-desc p{
  font-size: 0.8rem;
  font-weight: lighter;
}
.menu-card-desc h6{
  font-size: 2.5rem;
  font-weight: 800;
}
