*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.hero{
    height: 600px;
    width: 100%;
    background-image: url(../Assets/sheep.jpg);
    box-shadow: inset 0 0 0 2000px rgba(31, 32, 0, 0.589);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding:15px
    
}
.nav_img{
    height: 40px;
    width: 60px;
    border-radius: 40%;
}
.nav_item ul{
    display: flex;
}
.nav_item ul li,a{
    list-style: none;
    text-decoration: none;
    margin-right: 10px;
    color: white;
    text-transform: uppercase;
}
.hero-content{
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    
}
.hero-content h4{
    font-size: 2rem;
}
.hero-content h1{
    font-size: 4rem;
}
.hero-button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin: 20px;
    padding: 2px;
    width: 100px;
    height: 40px;
    background-color:white;
    color: red;
    cursor: pointer;
    text-transform: uppercase;   
}
.hero-button:hover{
    background-color: red;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    color: white;
}
.res-descr{
   display: flex;
   justify-content: center;
    height: 300px;
    align-items: center;
    align-content: center;
    padding: 20px;
}
.res-descr div{
   width: 50%;
    padding-left: 40px;
   

}
.res-descr article{
    text-align: center;
    width: 50%;
    padding: 10px;
    align-items: center;
    align-content: center;

}
.res-descr h1{

    color: red;
    font-style: italic;
    font-size: 3rem;
}
.res-descr h3{
    font-size: 2rem;
}
.res-descr p{
    margin-top: 2rem;
    font-size: 1.2rem;
    font-weight: 100;
}
.res-descr_img{
    height: 600px;
    width: 800px;
    padding: 20px;
    padding-top: 15rem;
    border: none;
    border-radius: 50px;
    transition: all 0.5s;
}
.res-descr_img:hover{
    scale: 110% ;
}
.res-descr_h{
    display: flex;
    align-content:center;
    padding-left: 1rem;
    

}



.Discover {
    padding-top: 18rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
  
}

.Discover_img {
  width: 200px;
  height: 180px;
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 1.9rem;
  transition: all 0.5s;
  
}

.Discover_img:hover {
  transform: scale(1.2);
}
.Discover h1{
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-wrap: wrap;
    cursor: pointer;
    padding: 20px;
}
.Discover h1:hover{
    transition: all 0.3s ease-in-out;
    color: red;

}
.Discover h6{
    font-size: small;
    font-weight: 100;
    text-wrap: wrap;
    text-align: center;
}
/*.sticky {
    position: sticky;
    position: sticky;
    top: 0; 
    background-color: white; 
    padding: 20px;
    z-index: 1000;
  }
  
  .sticky-img {
    width: 800px; 
    height: 600px;
    border-radius: 20%; 
    margin: 10px; 
  }
  
  .sticky h5, .sticky h2 {
    margin: 0; 
    padding: 0;
    color: #333;
}
  */
  
  
  