*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.hero{
    height: 600px;
    width: 100%;
  
}

.menu-icon{
    color: black;
    font-size:1.5rem;
    display: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    
}
.nav_img{
    height: 40px;
    width: 60px;
    border-radius: 40%;
}
.nav_item ul{
    display: flex;
}
.nav_item ul li,a{
    list-style: none;
    text-decoration: none;
    margin-right: 10px;
    color: black;
    text-transform: uppercase;
    font-size: 16px;
}
.hero-content{
    height: 700px;
    display: flex;
    background-image: url(../Assets/sheep.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(31, 32, 0, 0.589);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    
}
.hero-content h4{
    font-size: 3rem;
}
.hero-content h1{
    font-size: 5rem;
}
.hero-button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin: 20px;
    padding: 2px;
    width: 100px;
    height: 40px;
    background-color:white;
    color: red;
    cursor: pointer;
    text-transform: uppercase;   
}
.hero-button:hover{
    background-color: red;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    color: white;
}
.res-descr{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 20px;
    margin-top: 4rem;
}
.res-descr div{
   width: 50%;
    padding-left: 40px;
}
.res-descr article{
    text-align: center;
    width: 50%;
    padding: 10px;
    align-items: center;
    align-content: center;
}
.res-descr h1{
    color: red;
    font-style: italic;
    font-size: 4rem;
}
.res-descr h3{
    font-size: 3rem;
}
.res-descr p{
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 100;
}
.res-descr_img{
    flex-shrink: 1;
    flex-wrap: wrap;
    height: 800px;
    width: 100%;
    padding: 20px;
    padding-top: 15rem;
    border: none;
    border-radius: 50px;
    transition: all 0.5s;
}
.res-descr_img:hover{
    scale: 110% ;
}
.res-descr_h{
    display: flex;
    align-content:center;
    padding-left: 1rem;
}

.Discover {
    padding-top: 18rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
  
}

.Discover_img {
  width: 200px;
  height: 180px;
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 1.9rem;
  transition: all 0.5s;
  
}

.Discover_img:hover {
  transform: scale(1.2);
}
.Discover h1{
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-wrap: wrap;
    cursor: pointer;
    padding: 20px;
}
.Discover h1:hover{
    transition: all 0.3s ease-in-out;
    color: red;

}
.Discover h6{
    font-size: small;
    font-weight: 100;
    text-wrap: wrap;
    text-align: center;
}

  
  
  .card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    gap: 2rem;
    
}
.card{
    width: 500px;
    overflow: hidden;
    padding: 10px;
    
}
.card img{
    margin-top: 6rem;
    height: 250px;
    width: 300px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.card img:hover{ 
    transform: scale(1.1);
    border-radius: 15px;
}
.card h1{
    font-size: rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    margin-top: 15px;

}
.card h1:hover{
    color: red;
}
.card p{
    font-size: rem;
    font-weight: 100;
    margin-bottom: 10px;
    margin-top: 15px;
}
.card button{
    margin-top: 15px;
    border: none;
    background: none;
    color: black;
    font-size: px;
    cursor: pointer;
    width: 50%;
    text-transform: uppercase;
}
.card button:hover{
    color: red;
    background-color: white;
}

  .title-disc{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2.5rem;
    padding: 3rem;

  } 
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .menu-item {
    position: relative;
    width: 300px;
    text-align: center;
  }
  
  .menu-item img {
    width: 100%;
    border-radius: 10px;
    transition: all 0.5s;
  
  }
  .menu-item img:hover{
    scale: 110% ;
  }
  
  
  .menu-item a {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 20px;
    font-weight:lighter;
    background-color:white;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
  }
  .menu-item a:hover{
    background-color: red;
  }
  

  .Reservation{
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin: 16px;
}

.container {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    margin-top: 50px;
}

.reservation-form {
     margin-top: 10px;
    padding: 30px;
    width: 50%;
    font-size: 1rem;
     
}
.reservation-title{
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    margin-top: 1rem;
}

.form-container h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 3rem;
}

.form-container .highlight {
    color: #c1272d;
    font-style: italic;
    font-size: 3rem;
}

label {
    margin-top: 10px;
}


input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"],
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-left: 50px;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
}

button:hover {
    background-color: #333;
}

.image-container {
    flex: 1
}

.image-container img {
    width: 100%;
    object-fit: contain;
}



.review {
    text-align: center;
    display: flex;
    flex-direction:column;
    height: 60%;
    width: 100%;
    margin-top: 30px;
    padding: 7rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .review-content {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .review-photo {
    margin-top: 20px;
    width: 100px;
    height: 100px;
    border-radius: 30%;
    margin-bottom: 15px;
    border: 5px solid #e67e22;
  }
  .review h1{
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-wrap: wrap;
    cursor: pointer;
    padding: 10px;
  }
  .review h2{
    font-size: 1.5rem;
    font-weight: bold;
    color: #c1272d;
    font-style: italic;
    display: flex;
    flex-direction: column;
  }
  .review p {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #333;
  }
  
  .review-stars {
    font-size: 1.5rem;
    color: #e67e22;
  }
  
  .review-author {
    font-weight: bold;
    color: #555;
  }


  .news{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    width: 100%;
    
  }
  .news h2{
    font-size: 1.5rem;
    color: #c1272d;
    font-style: italic;
  }
  .news h1{
    font-size: 15px;
    font-weight: bold;
    
  }
  .news-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    padding: 1rem;
    margin-left: 6rem;
}
.new{
    width: 800px;
    overflow: hidden;
    padding: 10px;
}
.new img{

    margin-top: 2rem;
    height: 200px;
    width: 300px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.new img:hover{ 
    transform: scale(1.1);
    border-radius: 15px;
}
.new h1{
    font-size:16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    margin-top: 15px;

}
.new h1:hover{
    color: red;
}
.new p{
    font-size: 1rem;
    margin-bottom: 10px;
    margin-top: 15px;
}
.new button{
    margin-top: 15px;
    border: none;
    background: none;
    color: black;
    font-size: 15px;
    cursor: pointer;
    text-transform: uppercase;
}
.new button:hover{
    color: red;
    background-color: white;
}
.signup{
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; ;
    height: 50px;
    margin-top: 5rem;
    margin: 0;
    margin-bottom: 7rem;
}
.signup-container {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.signup-text {
    font-size: 2rem;
    font-weight: bold;
    margin-right: 20px;
    color: black;
    letter-spacing: 2px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

input[type="email"] {
    padding: 10px 40px 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.icon {
    position: absolute;
    right: 10px;
    font-size: 18px;
    color: #777;
}

.signup-container button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    width: 140px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
    text-transform: uppercase;
}

.signup-container button:hover {
    background-color: #333;
}

foot {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    margin-top: 3rem;
    padding: 0;
    width: 100%;
}

footer {
    background-color: #1a1a1a;
    padding: 40px 0;
    margin-top: 4rem;
    color: white;
    width: 100%;
}

.footer-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}
.footer-class{
    width: 100%;
}
.footer-section {
    flex: 1;
    display: flex;
    margin: 20px;
    width: 1000px;
}

.footer-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.footer-section p {
    line-height: 1.6;
}

.footer-section a {
    color: white;
    text-transform: lowercase;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.latest-twitter .date {
    font-size: 12px;
    color: white;
    margin-top: 10px;
}

.gallery-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.gallery-images img {
    width: 100%;
    height: 100px;
    border-radius: 5px;
}


@media (max-width: 500px) {
    .hero{
        height: fit-content;
        width: 100%;
    }
    .menu-icon{
        color: black;
        font-size:1.5rem;
        display: block;
        margin-left: auto;
        margin-right: 10px;
    }
    nav{
        display: flex;
        justify-content:space-between;
        align-items: center;
        flex-wrap: wrap;
        padding:15px
        
    }
    .nav_item ul{
        display: none;
    }
    .hero-content h4{
        font-size: 1.4rem;
    }
    .hero-content h1{
        font-size: 2.5rem;
    }
    .res-descr{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: fit-content;
        padding: 10px;
        margin-top: 4rem;
        height: fit-content;
        width: 100%;
     }
     .res-descr div{
        width: 100%;
        padding-left: 0px;
     }
     .res-descr article{
         text-align: center;
         width: 100%;
         padding: 10px;
     }
     .res-descr h1{
        font-size: 2rem;
    }
    .res-descr h3{
        font-size: 1rem;
    }
    .res-descr p{
        margin-top: 1rem;
        font-size: 1.2rem;
        font-weight: 100;
    }
    .res-descr_img{
        flex-shrink: 1;
        flex-wrap: wrap;
        height: 300px;
        width: 400px;
        padding: 20px;
        padding-top: 1rem;
        border: none;
        border-radius: 50px;
        transition: all 0.5s;
    }
    .title-disc {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1rem;
        padding: 1.5rem;
    }
    .Discover {
        flex-direction: column;
        padding-left: 2rem;
        width: 100%;
        margin-left: 2rem;
    }

    .Discover_img {
        width: 100%;
        height: auto;
        padding: 26px;
    }

    .card-container {
        height: fit-content;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0px;
    }

    .card {
        padding: 0px;
        width: 300px;
    }
    .card img{
        margin-top: 0;
        height: 300px;
        width: 350px;
        border-radius: 10px;
        transition: transform 0.3s ease;
    }

    .menu-item {
        width: 100%;
    }

    .container{
        display: block;
        flex-direction: row;
        width: 100%;
    }
    .menu{
        padding: 20px;
    }
    .Reservation{
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
    .reservation-form {
        margin-top: 10px;
        padding: 30px;
        font-size: 1rem;
        margin: 1rem;
        width: 100%;
    }
    .container {
        display: block;
        align-items: center;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        width: 100%;
        margin-top: 0px;
        height: fit-content;
    }
    .image-container {
        flex: 1;
      }
      
      .image-container img {
        width: 100%;
        height: auto;
        margin-bottom: 15px;
        border: none;
        max-width: 100%;
        object-fit: cover;
      }
    .review {
        text-align: center;
        background: #fff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      
    .review-content {
        max-width: 500px;
        margin: 0 auto;
      }
      
      .review-photo {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-bottom: 15px;
        border: 5px solid #e67e22;
        max-width: 100%; 
      }
      
    .review p {
        font-size: 1.2rem;
        margin-bottom: 15px;
        color: #333;
      }
    .review h2{
        font-size: 1.5em;
        text-align: center;
        padding-left: 6rem;
        display: flex;
        flex-direction: column;
      }
    .review-stars {
        font-size: 1.5rem;
        color: #e67e22;
      }
    .review-author {
        font-weight: bold;
        color: #555;
    } 
    .new{
        width: 100%;
        overflow: hidden;
        padding-left: 20px;
    }
    .news {

    }

    .news h1 {
        font-size: 1.8rem;
    }

    .news h2 {
        font-size: 1rem;
    }

    .news-container {
        margin-left: 1rem;
        padding: 1rem;
        flex-direction: column;
        align-items: center;
    }
    .signup{
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 0px;
        margin: 0;
        margin-bottom: 7rem;
    }
    .signup-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        justify-content: center;
        background-color: #ffffff;
        width: 100%;
        margin-bottom: 16px;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
    
    .signup-text {
        font-size: 18px;
        font-weight: bold;
        margin-right: 20px;
        color: #333;
        letter-spacing: 2px;
    }
    
    .signup-form {
        display: flex;
        align-items: baseline;
        width: 100%;
    }
    
    .input-container {
        position: relative;
        display: flex;
        align-items: center;
    }
    .foot {
        font-family: Arial, sans-serif;
        background-color:white;
        color: #fff;
        margin-top: 4rem;
        padding: 0;
        width: 100%;
    }
    
    footer {
        background-color: #1a1a1a;
        padding: 40px 0;
        margin-top: 4rem;
        color: white;
        width: 100%;
    }
    
    .footer-container {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        
    }
    .footer-class{
        width: 100%;
    }
    .footer-section {
        flex: 1;
        display: flex;
        margin: 20px;
        width: 1000px;
    }
    .gallery-images img {
        width: 100%;
        height: 50px;
        border-radius: 10px;
    }
    
    
}